
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body id="body">
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info " id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/profile-pic.png' %}" >
					<hr>
					<h4>Hi I'm Indrarjun!</h4>
					<p>Student | Programmer | ML enthusiast | FrontEnd Developer | Nerd</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info " >
					<h4>Summary</h4>
					<hr>
					<p>Hardworking College Student seeking employment. Adept in solving various problems and office technology programs.
						 </p>

					<p>Committed to utilizing my skills to increase the value of the company. Proven ability to work under pressure and maintain
						excellent communication andrelationships with co-workers.</p>

					<p>Bringing forth a motivated attitude and a variety of powerful skills.</p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Technical skills</h5>
					<hr>
					<p>Programming Languages: C, C++, Java, Python<br>Databases: MySQL, PostgreSQL, MongoDB.<br>Development: HTML, CSS, JavaScript.</p>
					<p>Data Science/ Machine Learning /Deep Learning<br>Version Control: Git and GitHub.
					</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Most Recent Project</h5>
					<hr>
					<p>To-do List App:</p>
					<p>This is a To-do list app built using Django and PostgreSQL. It creates a new database with a 
						table name todos which stores the given task with a primary key. It has a front-end interface developed using HTML and 
						Bootstrap. We can add new tasks or remove existing one from the interface which updates the table in the database.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Certifications</h5>
					<hr>
					<p>•Microsoft Certified: Azure AI Fundamentals (AI 900).<br>
						• Career Essentials in Software Development by Microsoft and LinkedIn.<br>
						• MongoDB Basics (M001).<br>
						• Microsoft Certified: Azure Data Fundamentals (DP 900).<br>
						• AWS Machine Learning Foundations 2022<br></p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>Enhance technical skills .<br>
					Work on projects that challenge and expand your abilities.<br>
					Seek out opportunities for professional development.<br>
					Collaborate with cross-functional teams.<br>
					Improve time-management and project planning skills.</p>
				<!-- <p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p> -->

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>